/* framInicial(login) */
/* Rectangle 8 */

.RectangLI1 {
    position: absolute;
    width: 303px;
    height: 60px;
    left: 36px;
    top: 255px; 
    background: #BA54C2;
    border-radius: 15px;
    /* User */  
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    /* identical to box height, or 174% */
    letter-spacing: 0.01em; 
    }  
    /* Rectangle 9 */ 
.RectangLI2 { 
    position: absolute;
    width: 303.68px;
    height: 60px;
    left: 36px;
    top: 340.16px;
    background: #BA54C2;
    border-radius: 15px;
    transform: rotate(-0.03deg);
    /* Password */
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    /* identical to box height, or 174% */
    letter-spacing: 0.01em; 
    }
    /* Group 24 */   
    .ScLogo { 
    position: absolute;
    width: 198px;
    height: 196.6px;
    left: 89px;
    top: 40px; 
    /* Ellipse 1 */
    box-sizing: border-box;    
    position: absolute;
    width: 198px;
    height: 196.6px;
    left: 89px;
    top: 40px;   
    border: 0px solid #000000;   
    } 
    /* Rectangle 10 */
    .RectangLOGIN {
    position: absolute;
    width: 302.29px;
    height: 60px;
    left: 36.42px;
    top: 429.15px;
    background: #380047;
    border-radius: 15px;
    transform: rotate(-0.03deg);
/* Log In */
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    /* identical to box height, or 174% */
    letter-spacing: 0.01em;
    color: #FFF023;
    }

    /*HASTA ACÁ VA LA PAG fRAMiNIlOGIN*/