.ThLogo {
    position: absolute;
    width: 76.54px;
    height: 76px;
    left: 13px;
    top: 18px;
}

/* Line 4 */

.UpLine {
    position: absolute;
    width: 375.01px;
    height: 0px;
    left: 0px;
    top: 102px;
    border: 1px solid #7F8386;
}

/* Rectangle 19 */

.Servicios {
    position: absolute;
    width: 315.55px;
    height: 44.54px;
    left: 29.75px;
    top: 111.44px;
    background: #751E7A;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 40px;
    /* or 174% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #FDD900;
    border: 1px solid #000000;
}

/* Rectangle 11 */

.ServRect1 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 43px;
    top: 200px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect2 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 146px;
    top: 200px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect3 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 250px;
    top: 200px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect4 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 43px;
    top: 320px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect5 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 146px;
    top: 320px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect6 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 250px;
    top: 320px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect7 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 43px;
    top: 440px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect8 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 146px;
    top: 440px;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}

.ServRect9 {
    position: absolute;
    width: 84px;
    height: 100.33px;
    left: 250px;
    top: 440px;
    opacity: 0.5;
    background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
    border-radius: 13px;
}
/*.Checkbox input[type="checkbox"] {
        
    }*/
.TxtCB {
    /* Bachata */
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.01em;
    color: #FDD900;
}
/*HASTA ACA VA LA PAG INDEX fRAMpRINCIPAL */