.LogTh2 {
    /* Group 24 */
    position: absolute;
    width: 167.38px;
    height: 166.2px;
    left: 109px;
    top: 49px;
}

.ServiciosTPG {
    /* Servicios */
    position: absolute;
    width: 100px;
    height: 28px;
    left: calc(50% - 103px/2 + 1px);
    top: 328px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    /* or 182% */
    letter-spacing: 0.01em;
    color: #FEA700;
    border: 0px solid #000000;
    backdrop-filter: blur(2px);
}

.ContactServ {
    position: absolute;
    width: 237px;
    height: 97px;
    left: calc(50% - 237px/2 - 48px);
    top: 220px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    letter-spacing: 0.01em;
    color: #751E7A;
}

.Grup7 {
    /* Group 7 */
    position: absolute;
    width: 331.88px;
    height: 46.07px;
    left: 23px;
    top: 465px;
}

.ToMerengue {
    /* Merengue $ 80.000,00 */
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 133% */
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);


}


.Grup5 {
    /* Group 5 */
    position: absolute;
    width: 103.88px;
    height: 38.98px;
    left: 200px;
    top: 20px;
}



.ToAdd2 {
    /* Agendar */
    position: absolute;
    width: 103.88px;
    height: 38.98px;
    left: 10px;
    top: 10px;
    background: #FEA700;
    border-radius: 16px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 133% */
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.Grup6 {
    /* Group 6 */
    position: absolute;
    width: 332.96px;
    height: 46.35px;
    left: 20px;
    top: 370px;
}

.ToSalsa {
    /* Salsa $ 80.000,00 */
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 133% */
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.ToGrup4 {
    /* Group 5 */
    position: absolute;
    width: 103.88px;
    height: 38.98px;
    left: 300px;
    top: 10px;
}



.ToAdd1 {
    /* Agendar */
    width: 81.34px;
    height: 23.77px;
    position: absolute;
    width: 103.88px;
    height: 38.98px;
    left: 215px;
    top: 25px;
    background: #FEA700;
    border-radius: 16px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 133% */
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.LineaUn {
    position: absolute;
    width: 375.01px;
    height: 0px;
    left: 0px;
    top: 340px;
    border: 1px solid #7F8386;
}

.LineaDo {
    position: absolute;
    width: 375.01px;
    height: 0px;
    left: 0px;
    top: 376px;
    border: 1px solid #7F8386;
}

.LineaTr {
    position: absolute;
    width: 375.01px;
    height: 0px;
    left: 0px;
    top: 470px;
    border: 1px solid #7F8386;
}

.LineaCu {
    position: absolute;
    width: 375.01px;
    height: 0px;
    left: 0px;
    top: 570px;
    border: 1px solid #7F8386;
}

.Grup8 {
    /* Group 6 */
    position: absolute;
    width: 332.96px;
    height: 46.35px;
    left: 20px;
    top: 570px;
}

.ToUrbano {
    /* Salsa $ 80.000,00 */
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 133% */
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.ToGrup3 {
    /* Group 5 */
    position: absolute;
    width: 103.88px;
    height: 38.98px;
    left: 300px;
    top: 10px;
}



.ToAdd3 {
    /* Agendar */
    width: 81.34px;
    height: 23.77px;
    position: absolute;
    width: 103.88px;
    height: 38.98px;
    left: 215px;
    top: 25px;
    background: #FEA700;
    border-radius: 16px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 133% */
    letter-spacing: 0.01em;
    color: #FFFFFF;
}