/* #framInicial */

.FramInicial {

box-sizing: border-box;

position: relative;
width: 375px;
height: 667px;

background: linear-gradient(180deg, rgba(255, 124, 211, 0.2) 0%, rgba(82, 40, 68, 0.064656) 67.67%, rgba(0, 0, 0, 0) 100%), #FFFFFF;
border: 1px solid #000000;
}

/* Logo */

.Logo {

position: absolute;
width: 257px;
height: 258px;
left: 59px;
top: 95px;



/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 257px;
height: 258px;
left: 59px;
top: 95px;

background: url(5.png);
border: 0px solid #000000;
}

.Rect {
/* Group 23 */

position: absolute;
width: 228px;
height: 93px;
left: 88px;
top: 391px;



/* Cargando... */

position: absolute;
width: 187px;
height: 41px;
left: 109px;
top: 417px;

font-family: 'Snippet';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;

color: #751E7A;

text-shadow: 0px 4px 4px rgba(56, 0, 71, 0.1);


/* Rectangle 18 */

position: absolute;
width: 228px;
height: 93px;
left: 88px;
top: 391px;

}


/* framInicial(login) */

.Fram {

box-sizing: border-box;

position: relative;
width: 375px;
height: 667px;

background: #D9DAE7;
border: 3px solid #000000;
}


/* Rectangle 8 */

.RectangLI1 {

position: absolute;
width: 303px;
height: 60px;
left: 36px;
top: 255px;

background: #BA54C2;
border-radius: 15px;


/* User */

font-family: 'Sarala';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 40px;
/* identical to box height, or 174% */
letter-spacing: 0.01em;



}

/* Rectangle 9 */

.RectangLI2 {

position: absolute;
width: 303.68px;
height: 60px;
left: 36px;
top: 340.16px;

background: #BA54C2;
border-radius: 15px;
transform: rotate(-0.03deg);



/* Password */

font-family: 'Sarala';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 40px;
/* identical to box height, or 174% */
letter-spacing: 0.01em;



}



/* Line 1 */

.Line {

position: absolute;
width: 375.01px;
height: 0px;
left: 0px;
top: 601px;

border: 1px solid #C0C1C6;

}
/* Group 24 */

.ScLogo {

position: absolute;
width: 198px;
height: 196.6px;
left: 89px;
top: 40px;



/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 198px;
height: 196.6px;
left: 89px;
top: 40px;

border: 0px solid #000000;

}

/* Rectangle 10 */

.RectangLOGIN {
position: absolute;
width: 302.29px;
height: 60px;
left: 36.42px;
top: 429.15px;

background: #380047;
border-radius: 15px;
transform: rotate(-0.03deg);


/* Log In */

font-family: 'Sarala';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 40px;
/* identical to box height, or 174% */

letter-spacing: 0.01em;

color: #FFF023;
}

/* Group 24 */

.ThLogo {
position: absolute;
width: 76.54px;
height: 76px;
left: 13px;
top: 18px;
}

/* Line 4 */

.UpLine {
position: absolute;
width: 375.01px;
height: 0px;
left: 0px;
top: 102px;

border: 1px solid #7F8386;
}

/* Rectangle 19 */

.Servicios{
position: absolute;
width: 315.55px;
height: 44.54px;
left: 29.75px;
top: 111.44px;

background: #751E7A;


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 40px;
/* or 174% */

text-align: center;
letter-spacing: 0.01em;

color: #FDD900;

border: 1px solid #000000;
}
/* Rectangle 11 */

.ServRect1 {
position: absolute;
width: 84px;
height: 100.33px;
left: 43px;
top: 200px;
    

background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect2{
position: absolute;
width: 84px;
height: 100.33px;
left: 146px;
top: 200px;
    

background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect3{
position: absolute;
width: 84px;
height: 100.33px;
left: 250px;
top: 200px;
        
    
background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect4 {
position: absolute;
width: 84px;
height: 100.33px;
left: 43px;
top: 320px;
    

background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect5{
position: absolute;
width: 84px;
height: 100.33px;
left: 146px;
top: 320px;
    

background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect6{
position: absolute;
width: 84px;
height: 100.33px;
left: 250px;
top: 320px;
        
    
background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect7 {
position: absolute;
width: 84px;
height: 100.33px;
left: 43px;
top: 440px;
    

background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect8{
position: absolute;
width: 84px;
height: 100.33px;
left: 146px;
top: 440px;
    

background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.ServRect9{
position: absolute;
width: 84px;
height: 100.33px;
left: 250px;
top: 440px;
        
opacity: 0.5;
background: linear-gradient(360deg, #9E00FF 0.33%, rgba(175, 4, 255, 0.35356) 54.32%, rgba(179, 31, 249, 0.353559) 57.43%, rgba(179, 31, 249, 0.229167) 99.99%, rgba(179, 31, 249, 0) 100%), linear-gradient(180deg, #240040 0%, rgba(56, 0, 71, 0) 100%);
border-radius: 13px;
}

.Menu {
position: absolute;
top: 615px;    
width: 375px;
height: 60px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 30px; /* espacio entre imágenes */

}

.Menu img {
max-width: 100%;
height: auto;
}



/*.Checkbox input[type="checkbox"] {
	
}*/




.TxtCB {
/* Bachata */
text-align: center;


font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.01em;

color: #FDD900;
}

.Contactos {
position: absolute;
height: 31px;
left: 110px;
right: 110px;
top: 41px;

font-family: 'Sarala';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 40px;
/* or 182% */

letter-spacing: 0.01em;

color: #380047;
}

/* Rectangle 10 */

.RectangBuscar {
position: absolute;
width: 332px;
height: 60px;
left: calc(50% - 332px/2 + 0.5px);
top: 127px;

background: #380047;
border-radius: 15px;


/* Log In */

font-family: 'Sarala';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 40px;
/* identical to box height, or 174% */

letter-spacing: 0.01em;
z-index: 1;

color: #FFF023;
}

.Buscar {
position: absolute;
width: 35px;
height: 38px;
left: 297px;
top: 139px;
z-index: 3;
opacity: 100;

}


/* Group 33 */
.Grupo {
position: absolute;
width: 384px;
height: 351.73px;
left: 0px;
top: 209px;

}

/* Grupo IE.San Diego Av. Guayabal Itagüí- Área Metropolitana (11)90000-0000 */
.ContactoData {

font-family: 'Sarala';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 133% */
letter-spacing: 0.01em;

color: #380047;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Line 8 */
.Inner {
position: absolute;
height: 0px;
left: 0px;
right: 1px;
top: calc(50% - 0px/2 + 132.5px);

border: 1px solid #C0C1C6;
transform: rotate(0.15deg);
}


